box2d-py==2.3.5
gymnasium==1.0.0
matplotlib==3.9.2
numpy==1.23.5
pygame==2.6.1
swig
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
